/* PAGE */
.page {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #e5e4e2;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* LEFT SIDE */
.leftSide {
  width: 50%;
  background: #0A2344;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.iconCircle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #0A2344;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 1);
}

.iconImg {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.leftTitle {
  font-size: 58px;
  font-weight: 700;
  color: #e5e4e2;
  margin-bottom: 18px;
}

.leftSubtitle {
  margin-top: 6px;
  max-width: 420px;
  text-align: center;
  color: #e5e4e2;
  font-size: 18px;
  line-height: 1.6;
}

/* RIGHT SIDE */
.rightSide {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

/* CARD */
.loginCard {
  width: 430px;
  padding: 50px;
  background: #e5e4e2;
  border-radius: 26px;
  box-shadow: 0px 10px 28px rgba(0, 0, 0, 1);
  animation: fadeSlide 0.7s ease forwards;
  opacity: 0;

  max-height: 83vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.loginCard::-webkit-scrollbar {
  width: 6px;
}
.loginCard::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
  border-radius: 20px;
}

/* TITLES */
.cardTitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #0A2344;
}

.cardSubtitle {
  margin-bottom: 26px;
  font-size: 15px;
  color: #000000;
}

/* INPUTS */
.label {
  margin-top: 14px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #0A2344;
  font-size: 15px;
}

.input {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #d6d9dc;
  padding-left: 14px;
  font-size: 15px;
  background-color: #f3ecec;
  color: #000;
  caret-color: #0A2344;
  margin-bottom: 10px;
}

.inputError {
  border: 2px solid #0A2344 !important;
  background-color: #e5e4e2;
}

.input:disabled {
  background-color: #e2dede;
  cursor: not-allowed;
  opacity: 0.7;
}

/* ERROR TEXTS */
.error {
  color: #0A2344;
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 12px;
}

/* TIP TEXT */
.tip {
  font-size: 13px;
  color: #0A2344;
  margin-top: 4px;
  margin-bottom: 12px;
  opacity: 0.9;
}

/* SELECT */
select.input {
  cursor: pointer;
}

/* CHECKBOX */
.rememberRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0 20px 0;
}

.checkbox {
  width: 18px;
  height: 18px;
  accent-color: #0A2344;
  cursor: pointer;
}

.rememberLabel {
  font-size: 14px;
  color: #0A2344;
}

/* BUTTON */
.button {
  width: 100%;
  height: 50px;
  background-color: #0A2344;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 22px;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  transition: transform 0.12s ease, background-color 0.12s ease;
}

.button:hover {
  background-color: #0A2344;
}

.button:active {
  transform: scale(0.96);
  background-color: #0A2344;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* LOADER */
.loader {
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FOOTER LINKS */
.bottomText {
  font-size: 15px;
  color: #000;
  text-align: center;
}

.createLink {
  color: #0A2344;
  font-weight: 600;
  text-decoration: none;
}

.createLink:hover {
  color: #0A2344;
}

/* ANIMATION */
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
