.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #0a2344);
  font-family: "Poppins", sans-serif;
}

/* CARD */
.card {
  width: 420px;
  background:#e5e4e2;
  padding: 55px 45px 45px;
  border-radius: 26px;
  box-shadow: 0 18px 45px rgb(0, 0, 0);
  text-align: center;
  position: relative;
}

/* BADGE */
.iconCircle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #e5e4e2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 12px 28px rgba(0,0,0,0.35);
}

.lockIcon {
  width: 58px;
  height: 58px;
}

/* TITLES */
.title {
  margin-top: 70px;
  font-size: 28px;
  font-weight: 700;
  color: #0a2344;
}

.subtitle {
  font-size: 15px;
  color: #000000;
  margin: 12px 0 28px;
}

/* LABEL + INPUT */
.label {
  display: block;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  color: #0a2344;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #d6d9dc;
  padding-left: 14px;
  font-size: 15px;
  background-color: #f3ecec;
  color: #000000;
  caret-color: #0A2344;
  margin-bottom: 15px;
}



/* BUTTON */
.button {
  width: 105%;
  height: 50px;
  border-radius: 14px;
  border: none;
  background: #0a2344;
  color: #e5e4e2;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
  transition: transform 0.15s ease;
}

.button:hover {
  background: #0c2f5c;
}

.button:active {
  transform: scale(0.96);
}

/* BACK TEXT */
.backText {
  margin-top: 22px;
  font-size: 14px;
  color: #000000;
}

.backLink {
  color: #0a2344;
  font-weight: 600;
  text-decoration: none;
}

.backLink:hover {
  text-decoration: underline;
}